/ANCY DOCS
/ANCY SEM 2
/desktop.ini
/Godwin - Chrome.lnk
/let reels
/MATHS.pptx
/MATHSGROUPPRESENTATION.pptx
/PPT - JESSY
/resume ancy.docx
/subinfile.docx
/VIP GARDEN
/Wondershare Filmora 12.lnk
/~$MATHS CASE STUDY.pptx